<%-include("navbar");-%>
<div class="row">
  <div class="input-field col s3">
    <input id="search" type="text" />
    <label for="search">search here .....</label>
  </div>
  <div class="input-field col s2">
    <select id="limit">
      <option value="" disabled selected>Choose Limit</option>
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="15">15</option>
    </select>
    <label>Limit per Page</label>
  </div>
  <div class="col s3">
    <ul class="pagination" id="pages">
      <li class="disabled">
        <a href="#!"><i class="material-icons">chevron_left</i></a>
      </li>
      <li class="waves-effect"><a href="#!">1</a></li>
      <li class="waves-effect"><a href="#!">2</a></li>
      <li class="waves-effect"><a href="#!">3</a></li>
      <li class="waves-effect"><a href="#!">4</a></li>
      <li class="waves-effect"><a href="#!">5</a></li>
      <li class="disabled">
        <a href="#!"><i class="material-icons">chevron_right</i></a>
      </li>
    </ul>
  </div>
  <div class="col s4">
    <select id="course">
      <option value="" disabled selected>Choose Course</option>
    </select>
    <label>Choose Course</label>
  </div>
</div>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Qualification</th>
      <th>Gender</th>
      <th>Enquiry Id</th>
      <th>Conversion Status</th>
      <th>Date of Entry</th>
      <th>Update Status</th>
    </tr>
  </thead>
  <tbody id="eTable"></tbody>
</table>

<script>
  function updtEnq(id, w) {
    fetch("/admin/updateEnquiry", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({
        _id: id,
        w
      })
    }).then(res => {
      window.location.href = "/admin/viewEnquiry";
    });
  }
  fetch("/paginate/courseName", {
    method: "POST"
    // headers:{"Content-Type":"application/json"},
    // body:JSON.stringify({
    //     req:"CourseId"
    // })
  })
    .then(res => res.json())
    .then(data => {
      var select = document.getElementById("course");
      for (i = 0; i < data.length; i++) {
        var option = document.createElement("option");
        option.innerText = data[i].cname + `(Ongoing : ${data[i].status})`;
        option.setAttribute("value", `${data[i]._id}`);
        select.append(option);
      }
      var elems = document.querySelectorAll("select");
      var instances = M.FormSelect.init(elems);
    });

  var table = document.getElementById("eTable");
  let text = "";
  let limit = 5;
  let page = 1;
  let courseId = "";

  function callFetch(text, limit, page, courseId) {
    table.innerHTML = "";
    fetch("/paginate/enquiryData", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({
        limit,
        page,
        text,
        courseId
      })
    })
      .then(res => res.json())
      .then(data => {
        data = data.docs;
        console.log(data);
        drawTable(data, 0);
      });
  }

  function makeTR(id) {
    var tr = document.createElement("tr");
    tr.setAttribute("id", id);
    return tr;
  }

  function makeTD(data) {
    var td = document.createElement("td");
    td.innerText = data;
    return td;
  }

  async function appendTRTD(id, data) {
    var tr = makeTR(id);
    i = 1;
    while (i < Object.values(data).length) {
      var td = makeTD(Object.values(data)[i]);
      tr.appendChild(td);
      i++;
    }
    var button = document.createElement("a");
    button.setAttribute("class", "waves-effect waves-light btn");
    if (data.isRegistered == true) {
      button.innerText = "Delete Enquiry";
      button.setAttribute("onclick", `updtEnq('${data._id}','0')`);
    } else {
      button.innerText = "Register";
      button.setAttribute("onclick", `updtEnq('${data._id}','1')`);
    }
    tr.append(button);
    return tr;
  }

  function drawTable(data, i) {
    if (i < data.length) {
      appendTRTD(data[i]._id, data[i]).then(tr => {
        table.append(tr);
        drawTable(data, ++i);
      });
    } else if (i == data.length) {
      return;
    }
  }

  document.getElementById("search").addEventListener("keydown", function(e) {
    text = e.target.value;
    callFetch(text, limit, page, courseId);
  });

  document.getElementById("limit").addEventListener("change", function(e) {
    limit = e.target.value;
    callFetch(text, limit, page, courseId);
  });

  document.getElementById("pages").onclick = function(e) {
    if (e.target.tagName == "A") {
      var a = document.getElementsByClassName("active");
      for (i = 0; i < a.length; i++) {
        a[i].classList.toggle("active");
      }
      page = Number(e.target.innerText);
      e.target.parentNode.classList.toggle("active");
    }
    callFetch(text, limit, page, courseId);
  };

  document.getElementById("course").onchange = e => {
    courseId = e.target.value;
    callFetch(text, limit, page, courseId);
  };

  callFetch(text, limit, page, courseId);
</script>
